@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(footer) {
  @include set-component-css-var('footer', $footer);

  display: flex;
  align-items: center;
  padding: getCssVar('footer-padding');
  padding-bottom: calc(env(safe-area-inset-bottom) + to-rem(12px));
  box-sizing: border-box;
  flex-shrink: 0;
  min-height: getCssVar('footer-height');
}
