@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

$form-item-margin-bottom: () !default;
$form-item-margin-bottom: map.merge(
  (
    'large': to-rem(22px),
    'default': to-rem(18px),
    'small': to-rem(18px),
  ),
  $form-item-margin-bottom
);

$form-item-label-margin-bottom: () !default;
$form-item-label-margin-bottom: map.merge(
  (
    'large': to-rem(12px),
    'default': to-rem(8px),
    'small': to-rem(4px),
  ),
  $form-item-label-margin-bottom
);

@include b(form-item) {
  display: block;
  --font-size: #{map.get($input-font-size, 'default')};
  margin-bottom: #{map.get($form-item-margin-bottom, 'default')};
  scroll-margin-top: calc(env(safe-area-inset-top) + to-rem(16px));

  .#{$namespace}-form-item {
    margin-bottom: 0;
  }

  .#{$namespace}-input__validateIcon {
    display: none;
  }

  @each $size in (large, default, small) {
    @include m($size) {
      --font-size: #{map.get($input-font-size, $size)};
      @include set-css-var-value(('form', 'label-font-size'), var(--font-size));

      margin-bottom: #{map.get($form-item-margin-bottom, $size)};

      @include e(label) {
        margin-bottom: #{map.get($form-item-label-margin-bottom, $size)};
      }
    }
  }

  @include e(label-wrap) {
    display: block;
  }

  @include e(label) {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: getCssVar('form-label-font-size');
    color: getCssVar('text-color', 'regular');
    line-height: getCssVar('font-line-height-primary');
    margin-bottom: #{map.get($form-item-label-margin-bottom, 'default')};
    padding-right: 0;
    box-sizing: border-box;
  }

  @include e(content) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    line-height: normal;
    position: relative;
    font-size: var(--font-size);
    min-width: 0;

    .#{$namespace}-input-group {
      vertical-align: top;
    }
  }

  @include e(error) {
    color: getCssVar('color-danger');
    font-size: getCssVar('font-size', 'extra-small');
    line-height: getCssVar('font-line-height-primary');
    padding-top: to-rem(6px);
    position: static;
    display: block;

    @include m(inline) {
      position: relative;
      top: auto;
      left: auto;
      display: inline-block;
      margin-left: to-rem(10px);
    }
  }

  @include when(required) {
    @include pseudo('not(.is-no-asterisk)') {
      &.asterisk-left {
        > .#{$namespace}-form-item__label:before,
        > .#{$namespace}-form-item__label-wrap
          > .#{$namespace}-form-item__label:before {
          content: '*';
          color: getCssVar('color-danger');
          margin-right: to-rem(4px);
        }
      }

      &.asterisk-right {
        > .#{$namespace}-form-item__label:after,
        > .#{$namespace}-form-item__label-wrap
          > .#{$namespace}-form-item__label:after {
          content: '*';
          color: getCssVar('color-danger');
          margin-left: to-rem(4px);
        }
      }
    }
  }

  @include when(error) {
    @include e(content) {
      .#{$namespace}-input__wrapper,
      .#{$namespace}-textarea__inner,
      .#{$namespace}-select__wrapper,
      .#{$namespace}-input-tag__wrapper {
        &,
        &:hover,
        &:focus,
        &.is-focus {
          box-shadow: 0 0 0 1px getCssVar('color-danger') inset;
        }
      }

      .#{$namespace}-input-group__append,
      .#{$namespace}-input-group__prepend {
        .#{$namespace}-input__wrapper {
          box-shadow: 0 0 0 1px transparent inset;
        }

        .#{$namespace}-input__validateIcon {
          display: none;
        }
      }

      .#{$namespace}-input__validateIcon {
        color: getCssVar('color-danger');
      }
    }
  }

  @include m(feedback) {
    .#{$namespace}-input__validateIcon {
      display: inline-flex;
    }
  }
}
