@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(radio-group) {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0;

  width: 100%;
  gap: to-rem(8px) to-rem(12px);

  .#{$namespace}-radio {
    margin-right: 0;
  }
}
