@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(select-dropdown) {
  z-index: calc(#{getCssVar('index-top')} + 1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: min(70vh, #{to-rem(520px)});
  padding-bottom: env(safe-area-inset-bottom);
  border-radius: getCssVar('border-radius-base');
  box-sizing: border-box;

  .#{$namespace}-scrollbar.is-empty .#{$namespace}-select-dropdown__list {
    padding: 0;
  }
}

@include b(select-dropdown__wrap) {
  max-height: min(50vh, #{to-rem(420px)});
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

@include b(select-dropdown__list) {
  list-style: none;
  padding: to-rem(8px) 0;
  margin: 0;
  box-sizing: border-box;

  &.#{$namespace}-vl__window {
    // for select-v2
    margin: to-rem(8px) 0;
    padding: 0;
  }
}

@include b(select-dropdown__header) {
  padding: map.get($select-dropdown, 'header-padding');
  padding-left: to-rem(16px);
  padding-right: to-rem(16px);
  border-bottom: map.get($select-dropdown, 'border');
  flex-shrink: 0;
}

@include b(select-dropdown__footer) {
  padding: map.get($select-dropdown, 'footer-padding');
  padding-left: to-rem(16px);
  padding-right: to-rem(16px);
  border-top: map.get($select-dropdown, 'border');
  flex-shrink: 0;
}

@include b(select-dropdown__loading) {
  padding-top: to-rem(16px);
  padding-bottom: to-rem(16px);
  padding-left: to-rem(16px);
  padding-right: to-rem(16px);
  margin: 0;
  text-align: center;
  color: map.get($select-dropdown, 'empty-color');
  font-size: to-rem(14px);
}

@include b(select-dropdown__empty) {
  padding-top: to-rem(16px);
  padding-bottom: to-rem(16px);
  padding-left: to-rem(16px);
  padding-right: to-rem(16px);
  margin: 0;
  text-align: center;
  color: map.get($select-dropdown, 'empty-color');
  font-size: to-rem(14px);
}
