@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(splitter) {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  @include e(mask) {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  @include e(horizontal) {
    flex-direction: row;
  }

  @include e(vertical) {
    flex-direction: column;
  }
}

@include b(splitter-bar) {
  flex: none;
  position: relative;
  user-select: none;
  @include touch-feedback(none);

  @include e(dragger) {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: to-rem(4px);
    padding: to-rem(4px);
    border-radius: to-rem(14px);
    background: getCssVar('bg-color', 'overlay');
    box-shadow: 0 0 0 1px getCssVar('border-color-light');
    @include touch-feedback(none);

    &:active {
      &:not(.is-disabled) {
        box-shadow: 0 0 0 1px getCssVar('color-primary-light-5');
      }
    }
  }
  @include e(dragger-horizontal) {
    flex-direction: column;
  }
  @include e(dragger-vertical) {
    flex-direction: row;
  }
  @include e(dragger-active) {
    .#{$namespace}-splitter-bar__handle {
      background-color: getCssVar('color-primary-light-3');
    }
  }
  @include e(handle) {
    flex: none;
    display: block;
    border-radius: getCssVar('border-radius-round');
    background-color: getCssVar('border-color-light');
    transition: background-color getCssVar('transition-duration-fast');
  }
  @include e(handle-horizontal) {
    width: to-rem(2px);
    min-height: to-rem(32px);
    height: 100%;
  }
  @include e(handle-vertical) {
    width: 100%;
    min-width: to-rem(32px);
    height: to-rem(2px);
  }
  @include e(collapse-icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: to-rem(20px);
    height: to-rem(20px);
    border: none;
    background: getCssVar('fill-color', 'light');
    border-radius: to-rem(10px);
    color: getCssVar('text-color', 'regular');
    @include touch-feedback;

    &:active {
      background-color: getCssVar('color-primary-light-8');
      color: getCssVar('color-primary');
    }
  }

  .#{$namespace}-splitter-bar__dragger.is-disabled {
    background: getCssVar('fill-color', 'light');
    box-shadow: 0 0 0 1px getCssVar('border-color-lighter');

    .#{$namespace}-splitter-bar__handle,
    .#{$namespace}-splitter-bar__collapse-icon {
      opacity: 0.6;
    }
  }
}
